header{
    display: block;
    font-size:larger;
    font-weight: bold;
}

subheader {
    display: block;
    font-size: medium;
    padding: 10px;
  }

subheader:before {
    content: "• ";
}

bodyGPT {
    display: block;
    font-size: small;
}